.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
  margin-right: 5px;
}

.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}

.header__searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: #cd9042;
}

.header__searchIcon:hover {
  cursor: pointer;
}

.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: white;
  /* margin-top: 10px;
  margin-left: 5px; */
  margin-right: 5px;
  padding: 15px 15px;
}

.header__optionBasket:hover {
  background-color: #222b38;
}

.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__menuIcon {
  display: none;
  color: white;
}

.header__option {
  display: flex;
  flex-direction: column;
  /* margin-left: 10px;
  margin-right: 10px; */
  color: white;
  padding: 10px 10px;
}

.header__option:hover {
  background-color: #222b38;
}

@media screen and (max-width: 960px) {
  .header {
    position: relative;
  }

  .header__logo {
    width: 50px;
    object-fit: contain;
    margin: 0 10px;
    margin-top: 18px;
  }

  .header__search {
    margin-right: 60px;
  }

  .header__nav {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 350px;
    position: absolute;
    top: 60px;
    left: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    justify-content: unset;
  }

  .header__nav.active {
    background-color: #131921;
    left: 50%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .header__option {
    text-align: center;
    padding: 2rem 0;
    width: 100%;
    /* display: table; */
  }

  .header__menuIcon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 40%);
    font-size: 1.5rem;
    cursor: pointer;
  }

  .header__optionBasket {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 0;
  }

  .fa-times {
    font-size: 1.6rem;
    transform: translate(-5px);
  }
}
